*{
  box-sizing: border-box;
}
#board{
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 300px;
  margin: auto;
  
}

#board > div{
  padding: 10px;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

#center, #result{
  text-align: center;
}